body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.note-navigation .card-body {
  padding-right: 0;
  padding-left: 0;
}

/* NoteNavigation Category styles */
.note-navigation .card-header {
  padding-right: 0;
  padding-left: 0;
}

.note-navigation .category {
  width: 100%;
  display: table;
  padding-right: 20px;
  padding-left: 20px;
}

.note-navigation .category .title-container {
  display: table-cell;
}

.note-navigation .category .plus-container {
  display: table-cell;
  width: 24px;
  height: 24px;
}

.note-navigation .category .plus-button {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.note-navigation .category .plus-button:hover {
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.note-navigation .category .plus {
  height: 22px;
  width: 22px;
  padding-bottom: 3px;
}

.note-navigation .category .title:hover {
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}
/* NoteNavigation Category styles end*/

/* NoteNavigation Item styles */
.note-navigation .navigation-item {
  padding-bottom: 4px;
  padding-right: 20px;
  width: 100%;
  display: table;
}

.note-navigation .navigation-item .icon-container {
  display: table-cell;
  width: 21px;
}

.note-navigation .navigation-item .title-container {
  display: table-cell;
}

.note-navigation .navigation-item .plus-container {
  display: table-cell;
  width: 24px;
  height: 24px;
}

.note-navigation .navigation-item .plus-button {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.note-navigation .navigation-item .plus-button:hover {
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.note-navigation .navigation-item .title:hover {
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

.note-navigation .navigation-item .title.active {
  color: #0056b3;
}

.note-navigation .navigation-item .plus {
  height: 22px;
  width: 22px;
  padding-bottom: 3px;
}

.note-navigation .navigation-item .list-icon {
  padding-bottom: 2px;
  height: 0.95em;
  cursor: pointer;
}

.note-navigation .navigation-item .list-icon-small {
  padding-bottom: 2px;
  height: 0.35em;
}

.note-navigation .navigation-item .hidden-icon {
  float: right;
  height: 0;
}
/* NoteNavigation Item styles end*/

.note-section .content .text-area{
  border: 0;
  height:auto;
  width: 100%;
  resize: none;
  outline: none;
  overflow: hidden;
  padding: 0;
}

.note-section .content .title-area{
  font-size: 1.25rem;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
  border: 0;
  width: 100%;
  resize: none;
  overflow: hidden;
  outline: none;
}

.note-section .title-container {
  display: table;
  width: 100%;
}

.note-section .title-area-container {
  display: table-cell;
}

.note-section .button-container {
  display: table-cell;
  width: 70px;
  vertical-align: top;
}

.note-section .button-container .button{
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  margin-right: 6px;
  text-align: center;
}

.note-section .button-container .button:hover{
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.note-section .button-container .button svg{
  height: 22px;
  width: 22px;
  padding-bottom: 4px;
}